venv/
.idea/
src/bin/
.ipynb_checkpoints/
.git/
*.ipynb
*.pyc
tests/output/
src/resources/model/
src/resources/sheets/training/
src/resources/sheets/tmp
src/resources/model
src/cached_segmenter/
.vscode
src/uploads/
client/src/App.css
client/dist
client/yarn.lock