scipy==1.0.1
opencv-python==3.4.0.14
opencv-contrib-python==3.4.0.14
numpy==1.14.2
vec_noise==1.1.4
jupyter==1.0.0
matplotlib==2.2.2
MIDIUtil==1.2.1
Flask==0.12.2
Flask-cors==3.0.4
keras==2.1.6
tensorflow==1.8.0